POSTGRES_DB=jubjub
POSTGRES_USER=jubjub
POSTGRES_PASSWORD=change-me

JUBJUB_DB_URL=jdbc:postgresql://localhost:5432/jubjub
JUBJUB_DB_USERNAME=jubjub
JUBJUB_DB_PASSWORD=change-me
JUBJUB_BACKEND_PORT=8080
